html {
  height: 100%;
  width: 100%;
  background-color: #E2D0BE; 
  
}

/*header is centered and margins are even all around*/

header {
  text-align: center;
   margin: 5px 5px 5px 5px;
}

/*h3 is big and centered*/

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  font-size: 45px;
   text-align: center;
}

/*ol and ul are identical. Keep this uniformed for easy reading*/

ol {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial', 'sans-serif';  
  font-size: 16px;
  padding-left: 500px;
  padding-right: 500px; 
   
}

ul {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial', 'sans-serif';  
  font-size: 16px;
  padding-left: 500px;
  padding-right: 500px; 
   
}

/*paragraphs should also be consistent in style throughout*/

p {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial', 'sans-serif';  
  font-size: 16px;
  padding-left: 500px;
  padding-right: 500px; 
}

/*image to align with rest of page*/

img {
height: 200px; 
width: 300px;
padding-top: 20px;
padding-right: 100px;
padding-bottom: 20px;
padding-left: 575px;

}

/*spacing*/

  div {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}

/*footer also aligned with rest of page*/

footer {
  text-align: center;
}


main {
   background-color: 9B7E46; 
}

a {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial', 'sans-serif';
   font-size: 16px;
}

a:link    { 
  color: blue;  
}

a:visited { 
  color: red;  
}
a:hover   { 
  color: green; 
}
a:active  { 
  color: pink;  
}

/*background, color, font-family, font-size,
height, margin, padding, text-align*/
